.descrição {
    position:relative;
    bottom:26rem;
    padding:0 3rem;
    margin:0 5rem;
    flex-wrap: wrap;
    max-width:80%;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    background-color: rgba(0,0,0,0.1);
}



.descrição .descrição-texto p{
    color:white;
    line-height: 170%;
}