@import url('../reset.css');
@import url('../componentes/descrição.css');



.pilula ul{
    display:flex;
    flex-direction:row;
    white-space: nowrap; 
   flex-wrap: wrap;
}
 .pilula ul li{
    background-color: var(--cor-fonte);
    color:white;
    padding:5px 15px;
    margin:0.3rem 0.5rem;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    text-transform: uppercase;
}

.pilula ul li:first-child{
    margin-left:0;
}
.pilula ul li:hover{
    cursor:pointer;
    background-color:#f10396;
    opacity:0.5;
    transition:background 0.5s ease-in-out;
    -webkit-transition:background 0.5s ease-in-out;
    -moz-transition:background 0.5s ease-in-out;
    -ms-transition:background 0.5s ease-in-out;
    -o-transition:background 0.5s ease-in-out;
}